h1 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../ressources/images/ywPZ4f.jpg");
    background-size:auto;
    background-repeat:repeat;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}
ul li a{
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    justify-content: space-evenly;
}
ul li a:hover{
    text-decoration: underline;
}