
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
header {
    background-color: #ffffff; 
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #cccccc;
}
header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
header nav a:hover {
    color: #007BFF;
}
.content {
    padding: 20px;
    text-align: center;
}

.kolo
 {
    width: 200px;
    height: 500px;
    background: #ffff
  }


.popo
{
    position: relative;
    bottom:500px;
    left: 300px;
    width: 2000px;
    height: 500px;
    background: #ffffff
  }

  .lolo
{
    position: relative;
    bottom:1000px;
    left: 350px;
    width: 600px;
    height: 400px;
    background: #bdbdbd
  }
  
